#loginRendered {
    background-image: url("#{request.contextPath}/resources/images/bg_login.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#logo {
    height: 30%;
    width: 30%;
    float: left;
}

h2 {
    color: deeppink;
}

#index{
    position: fixed;
    width: 100%;
    margin-top: 15%;
}

.space50px{
    padding-bottom: 50px;
}

.btn {
    height: 40px;
    border-width: thin;
    border-color: deeppink;
    text-underline: none;
    border-radius: 0;
}

.btn:hover {
    background-color: #ffc0d4;
    border-color: deeppink;
}

.btn:focus {
    background-color: deeppink;
    color: white;
}


.btn:active {
    background-color: deeppink;
    color: white;
}


.title {
    padding-bottom: 30px;
}

.subtitle {
    padding-bottom: 15px;
}

.btn-paragraph {
    padding-bottom: 15px;
}

.form-control {
    border-width: thin;
    height: 40px;
    border-color: gray;
    border-radius: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control:hover {
    background-color: #ffefed;
    border-color: goldenrod;
}

.form-control:focus {
    background-color: #ffdede;
    border-color: deeppink;
}

.btn-green {
    border-radius: 0;
    height: 40px;
    width: auto;
    background-color: lightgray;
}

.btn-green:hover {
    border-color: deeppink;
}
/* FUNKTIONERT NICHT!!! */
.btn-green:focus {
    border-color: deeppink;
    background-color: green;
}

.table td{
    background-color: white;
    border: 0px solid #ddd;
}
.col {
    border: 0px;
}
